@font-face {
    font-family: 微软雅黑;
}

.iconfont {
    font-family: 微软雅黑, serif;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-visible:before {
    content: "\e6a2";
}

.icon-nickname:before {
    content: "\e6a0";
}

